@if (Request.IsAuthenticated) {
    <text>
        <h2>@Html.ActionLink(User.Identity.Name, "", "", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</h2>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "menu-description" })) {
            @Html.AntiForgeryToken()
            <p><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a> | <a href="#">Preferencias</a></p>
        }
    </text>
} else {
    @*<li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <span id="loginLink"><a href="/Account/Login">Ingresar</a></span>
   
}
