/* menu options */


.tabbable ul.nav li {
	display: inline;
}

.tabbable ul.nav li a {
	background-color: #E6E6E6;
	color: #9F9F9F;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5em;
	padding: 12px 15px;
	text-align: center;
	width: 22%;
}

.tab-content>.active, .pill-content>.active {
	display: block !important;
}

.tabbable .nav-tabs>.active a{
	background-color: #49A9F3;
	color: white;
}

.tab-content>.tab-pane, .pill-content>.pill-pane {
	display: none;
}

.menu-desing span {
	background-color: #E6E6E6;
	color: #9F9F9F;
	cursor: pointer;
	display: inline-block;
	padding: 12px 15px;
	text-align: center;
	width: 26%;
}

.menu-desing span:hover {
	background-color: #49A9F3;
	color: white;
}

.menu-complete span {
	background-color: #009900;
	color: white;
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 12px 15px;
	text-align: center;
	width: 100%;
}

#menu-date {
	margin-top: 10px;
	text-align: center;
	color: #000000;
    font-size: 1.5em;
	margin-top: 1.9375em;
	margin-left: 0.9375em;
	margin-right: 0.9375em;
	padding: 10px;
}

.menu-days {
	background-color: #E6E6E6;
	cursor: pointer;
    margin-left: 0.9375em;
	margin-right: 0.9375em;
	padding: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu-days span {
	background-color: #E6E6E6;
	color: #2B2B2B;
	display: inline-block;
	padding: 12px 15px;
	text-align: center;
	width: 10.94%;
}

.menu-days span:hover {
	background-color: #FF921E;
}

.menu-days span.special {
	background-color: #CCCCCC;
}

.menu-days span.special:hover {
	background-color: #3EA9F5;
	color: white;
}

.menu-components {
	border: solid 2px #E6E6E6;
	border-top: none;
	margin-left: 0.9375em;
	margin-right: 0.9375em;
    width: 96.7% !important;
}

.menu-components div.day-component {
	color: #999999;
	display: inline-block;
	margin: 15px 8px;
	text-align: center;
}

.menu-components .day-component span {
    display: inline-block;
    width: 86%;   
}

.menu-components .menu-image-ico, .menu-add {
	background-color: #E6E6E6;
	cursor: pointer;
	padding: 0.6em;
    margin: 0.5em 0;
}

.menu-components .menu-image-ico .menu-image-svg {
	cursor: pointer;
}

.menu-components .menu-add:hover {
	background-color: #49A9F3;
	color: white;
}
.content-item {
    color: #000000;
    padding-top: 1em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

    .content-item select {
        background-color: white;
        height: 33px;
        margin: 0 !important;
        width: 64%;
    }

    .content-item input {
        display: inline-block !important;
        margin: 0 !important;
        width: 65% !important;
    }

.item-close {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    float:right;
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 0;
    background: #fe6e6e;
    color: white;
    padding: 0.575em 1em;
    width: auto;
}

.item-detail {
    color: #000000;
    font-size: 0.9em;
    text-align: center;
}

    .item-detail span {
        display: block;
    }


.menu-image-ico {
    background-color: #E6E6E6;
    cursor: pointer;
}

.item-detail .menu-image-ico embed {
    cursor: pointer;
    width: 100%;
}

    .item-detail .detail-like {
        background-color: #49A9F3;
        color: white;
        padding: 0 1em;
    }

    .item-detail .detail-dislike {
        background-color: #fe6e6e;
        color: white;
        padding: 0 1em;
    }