@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="cambiando-aviso" class="large-10 columns">
        <div class="estamos-cambiando-ico">
            <embed src="~/Images/Home/cambiando.svg" type="image/svg+xml" id="cambiando" name="cambiando" />
        </div>
        <div class="estamos-cambiando-mensaje">
            <h2>Estamos cambiando</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin luctus volutpat. Sed id leo sed mauris eleifend eleifend. Sed porttitor venenatis risus. Nullam sed euismod risus. Sed laoreet, elit ut rutrum tempus, lacus lorem dictum libero, eget cursus diam libero vitae libero. Nam tempor id magna non tincidunt.</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div id="galeria" class="large-7 columns">
        <img src="~/Images/Home/GLM-foto1.jpg" width="700" height="254" alt="Foto" />
    </div>
    <div id="menu" class="large-3 columns">
        <div class="cenefa">
            <h2>Menú</h2>
        </div>
        <img src="~/Images/Home/GLM-foto-menu.jpg" width="252" height="212" alt="Foto menú" />
    </div>
    <div class="large-2 columns"></div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div id="calendario" class="large-10 columns">
        <div class="cenefa">
            <h2>Calendario de planeación</h2>
        </div>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=320&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=glm.edu.co_cl4smhj6lebg8ng3olb5pmurgc%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FBogota" style=" border-width:0 " width="980" height="320" frameborder="0" scrolling="no"></iframe>
    </div>
</div>