@{
   ViewBag.Title = "Home";
}

<div ng-controller="menuController">
    <div class="row">
	    <div class="large-12 columns">
		    <h1>Men&uacute Escolar</h1>
	    </div>
    </div>
    <tabs>
    	<pane title="Diseñar Menú">
    		<div class="row">
				<div class="large-12 columns" id="menu-date">
					<span>Octubre 07 / 2013 - Octubre 13 / 2013</span>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="large-12 columns menu-days">
						<span class="special">< Anterior</span>
						<span>Lunes</span>
						<span>Martes</span>
						<span>Miercoles</span>
						<span>Jueves</span>
						<span>Viernes</span>
						<span class="special">Siguiente ></span>
					</div>
				</div>
				<div class="row">
                    <div class="large-12 columns  menu-components">
	                    <div class="day-component" ng-click="listItems({category: 'bebidas'})">
		                    <span>Bebidas</span>
		                    <div class="menu-image-ico">
    		                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-beb.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true, Category:'Jugos'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
	                    <div class="day-component" ng-click="listItems({category: 'entrada'})">
		                    <span>Entrada</span>
		                    <div class="menu-image-ico">
			                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-entr.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true, Category:'Entradas'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
	                    <div class="day-component" ng-click="listItems({category: 'proteinas'})">
		                    <span>Proteinas</span>
		                    <div class="menu-image-ico">
			                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-prot.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true , Category:'Proteinas'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
	                    <div class="day-component" ng-click="listItems({category: 'carbohidratos'})">
		                    <span>Carbohidratos</span>
		                    <div class="menu-image-ico">
			                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-carbo.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true, Category:'Carbohidratos'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
	                    <div class="day-component" ng-click="listItems({category: 'vegetales'})">
		                    <span>Vegetales</span>
		                    <div class="menu-image-ico">
			                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-veg.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true, Category:'Vegetales'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
	                    <div class="day-component" ng-click="listItems({category: 'postre'})">
		                    <span>Postre</span>
		                    <div class="menu-image-ico">
			                    <embed class="menu-image-svg" src="~/Images/Menu/Icon-post.svg" type="image/svg+xml" />
		                    </div>
		                    <span class="menu-add">Agregar</span>
                            <div class="add-detail" ng-repeat="item in itemList | filter: {active:true, Category:'Postres'}">
                                <span class="detail-like">{{ item.Count }}</span>
                                <span>{{ item.Name }}</span>
                            </div>
	                    </div>
                    </div>
                </div>
			</div>
		</pane>
		<pane title="Ver Lista">
            <h1>Panel List</h1>
		</pane>
		<pane title="Previsualizar">
			<h1>Panel 3</h1>
		</pane>
	</tabs>
    <div  ng-show="contentItem">
        <div class="row content-item">
            <div class="large-4 columns">
                <span>Ordenar por:</span>
                <select>
                    <option value="Alfabetico">Alfabetico</option>
                    <option value="category">Count</option>
                </select>
            </div>
            <div class="large-4 columns">
                <span>Buscar: </span>
                <input type="text" ng-model="search" />
            </div>
            <div class="large-2 columns">
                <span class="item-close" ng-click="closeWindow()">Cerrar X</span>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <ul class="large-block-grid-8">
                <li ng-repeat="item in itemList | filter:search">
                    <div class="item-detail" ng-click="selectItem(item)">
                        <div class="menu-image-ico">
			                <embed class="menu-image-svg" src="~/Images/Menu/Icon-post.svg" type="image/svg+xml" />
		                </div>
                        <span class="name">{{ item.Name }}</span>
                        <span class="detail-like" class="count">{{ item.Count }}</span>
                        <span class="detail-dislike">Dislike</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>